{% extends "layout.html" %}

{% block heading %}
	Book Details
{% endblock %}

{% block body %}
	<ul class="list-group">
		<li class="list-group-item">ISBN: {{ book.isbn }} </li>
		<li class="list-group-item">Title: {{ book.title }}</li>
		<li class="list-group-item">Author: {{ book.author }}</li>
		<li class="list-group-item">Year: {{ book.year }}</li>
	</ul>
	<br>
	<h5>Goodreads Ratings</h5>
	<ul class = "list-group">
		<li class="list-group-item">Number of Ratings: {{ num_ratings }}</li>
		<li class="list-group-item">Average Rating: {{ avg_rating }} out of 5</li>
	</ul>
{% endblock %}
